{% extends "pretixpresale/event/checkout_questions.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load gdpr_extra %}
{% block inner %}
    {% if event.settings.billetaarhusgdpr_message %}
    <section class="billet-aarhus-gdpr-message panel panel-default">
        <header class="x-panel-heading" style="padding: 15px">
            <h1 style="font-weight: bolder; font-size: 100%; margin: 0">{% trans "Information on use of personal data" %}</h1>
        </header>

        <div class="panel-body" style="padding-top: 0">
            <div style="max-height: 8em; overflow: auto">
                {{ event.settings.billetaarhusgdpr_message|gdpr_localize|safe|linebreaks }}
            </div>
        </div>
    </section>
    {% endif %}

    {{ block.super }}
{% endblock %}
